div{
    display: flex;
    height: 30vh; /* высота на экран пользователя 30% */
    flex-direction: column; /* выстраивает блоки по вериткали */
}
div div:first-child{
    flex-basis: 25%;
    background-color: aquamarine;
}
div div:last-child{
    flex-basis: 75%;
    background-color: bisque;
}

